* {
  box-sizing: border-box;      
}
body {
    background-color: rgb(252, 147, 128);
}
#bell {
    display: none;
}
img {
    width: 35px;
    height: 30px;
}
svg {
    width: 100px;
    height: 100px;                
}



.line-graph-ph {
    width: 960px;
    height: 280px;
}
.bar-chart-ph {
    width: 400px;
    height: 250px;
}

